<!DOCTYPE html>
<html>
    <head>
        <title>Music Library</title>
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/1140/2.0/1140.min.css">-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
    </head>

    <body>
       <!--Table to display the database--> 
        <table class="table">
            <thread>
                <tr>
                    <!--Main headers-->
                    <th></th>
                    <th>Song ID</th>
                    <th>Song Name</th>
                    <th>Artist ID</th>
                    <th>Year Released</th>
                    <th></th>
                </tr>
            </thread>

            <tbody>
                <!--Test holds the data from Student that we passed to index
                IOW, it holds the records from the table student we grabbed using the select knex-->
               <!--For loop to put data into the table-->
                <% for (var i = 0; i < test.length; i++) {%>
                    <tr>
                        <td>
                           <!--Delete song button-->
                            <form action="/DeleteSong/<%= test[i].SongID %>" method="POST">
                                <input type="submit" name="Delete" value="Delete" />
                            </form>
                        </td>
                        <td><%= test[i].SongID %></td>
                        <td><%= test[i].SongName %></td>
                        <td><%= test[i].ArtistID %></td>
                        <td><%= test[i].YearReleased %></td>
                        <td>
                           <!--Edit song button-->
                            <form action="/EditSong/<%= test[i].SongID %>" method="GET">
                                <input type="submit" value="Edit" />
                            </form>
                        </td>
                    </tr>
                <% }%>                   
            </tbody>
        </table>

        <div style="padding-left: 15px">
            <!--Add song button-->
            <form action="/addSong">
                <input type="submit" value="Add New Record" />
            </form><br>
            
            <!--Start over button-->
            <form action = "/StartOver" method="POST">
                <input type="submit" value ="Start Over">
            </form>
        </div>
    </body>
</html>